<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <title>Vue Js Implementation</title>
        <style>
           
        </style>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="h-full grid place-items-center">
        <div id="root">
            <h1 class="font-bold mb-3 text-3xl">All Tasks</h1>
            <!-- <h1 v-text="reversedMessage"> {{ reversedMessage }} </h1> -->
            <!-- <input type="text" v-model="message"> -->

            <ul class="text-xl">
                <li v-for="task in tasks">
                    <!-- {{ task }}  -->
                    {{ task.description }} 
                </li>
            </ul>

            <h1 class="font-bold my-3 text-3xl">Completed Tasks</h1>
            <!-- <h1 v-text="reversedMessage"> {{ reversedMessage }} </h1> -->
            <!-- <input type="text" v-model="message"> -->

            <ul class="text-xl">
                <li v-for="task in tasks" v-if="task.completed">
                    <!-- {{ task }}  -->
                    {{ task.description }} 
                </li>
            </ul>

            <h1 class="font-bold my-3 text-3xl">Incomplete Tasks</h1>
            <!-- <h1 v-text="reversedMessage"> {{ reversedMessage }} </h1> -->
            <!-- <input type="text" v-model="message"> -->

            <ul class="text-xl">
                <li v-for="task in inCompletedTasks" v-text="task.description">
                    <!-- {{ task }}  -->
                    {{ task.description }} 
                </li>
            </ul>
        </div>
    </body>
    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: "#root",
            data:{
                // message :'Hello there!'
                tasks: [
                    { description : 'First Task', completed: true },
                    { description : 'Second Task', completed: false },
                    { description : 'Third Task', completed: true },
                    { description : 'Fourth Task', completed: false },
                    { description : 'Fifth Task', completed: true }
                ]
            },
            methods : {
                
            },
            computed : {
                // reversedMessage () {
                //     return this.message.split('').reverse().join('')
                // }

                inCompletedTasks(){
                    return this.tasks.filter(task => !task.completed);

                    // this.tasks.filter(function (task) {
                    //     return ! task.completed;
                    // })
                }
            }
        })
    </script>
</html>